<div class="well">
  <%= form_for @comment, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :body, 'Enter your comment:' %>
      <%= f.text_area :body, rows: 3, class: 'form-control', required: true, maxlength: 2000 %>
      <small class="label label-warning">Cannot be blank or contain more than 2000 symbols.</small>
    </div>

   <div id ="like_btn"> <%= f.submit 'Post', class: 'btn btn-primary btn-lg' %></div>
  <% end %>
</div>
<script>
$(document).ready(function(){
    $( "#like_btn" ).click(function() {
    window.location.reload(true);
   });
});
</script>